<div class="content-wrapper">

  <div class="faq">
    <h2>Preguntas Frecuentes</h2>
    <!--<div class="accordion" *ngFor="let faq of faqs">
      <button (click)="toggleAccordion(faq.id)" [class.active]="faq.active">{{ faq.pregunta }}</button>
      <div class="accordion-content" [class.show]="faq.active">
        <p>{{ faq.respuesta }}</p>
      </div>
    </div>
  </div>
</div>
-->

    <div class="preguntas-frecuentes-page">
  
      <header class="preguntas-frecuentes-header">
        
        <p>En este apartado solucionaremos la mayoría de inquietudes que puedas tener.</p> 
        <p>Si no llegaramos a responder tus dudas por este medio, por favor comunícate con nosotros mediante los demás canales indicados en el apartado 'Contacto'.</p>
      </header>

<div class="card">
    <div class="card-body">

        <div class="mb-2">
            <label class="form-label">
                <h2>
                PREGUNTA:
            </h2>
            </label>

            <input type="text" class="form-control" placeholder="Por favor ingrese parte de la pregunta a consultar">

        </div>
      </div>
    </div>
</div>

<p>
                
</p>
<div class="accordion" id="faqAccordion">
    <div class="accordion-item">
      <h3 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Cómo puedo registrarme?
        </button>
      </h3>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Puedes registrarte haciendo clic en la opción 'Ingresa' en la parte superior de nuestra página.
        </div>
      </div>
    </div>
    <p>
        
    </p>
    <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Qué tipo de flores frescas ofrecen en su floristería?
                </button>
            </h3>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Trabajamos con una amplia variedad de flores frescas de alta calidad. Nuestro inventario varía según la temporada, ¡asegurando siempre la frescura y diversidad!
            </div>
          </div>
        </div>
        <p>
        
        </p>
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cuáles son las opciones de entrega y los costos asociados?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Ofrecemos entrega a domicilio Gratis. 
              </div>
            </div>
          </div>
          <p>
        
          </p>
        
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cómo puedo personalizar un ramo o arreglo floral?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                ¡Nos encanta la personalización! Contacta a nuestro equipo y estaremos encantados de ajustar tu pedido según tus preferencias.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Puedo programar la entrega para una fecha específica?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Sí, durante la compra puedes seleccionar la fecha y horario de entrega que mejor se adapte a tus necesidades.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cuál es su política de devolución y reembolso?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Aseguramos la frescura y calidad de nuestras flores. Si hay algún problema, ponte en contacto con nosotros dentro de las 24 horas para resolverlo.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Ofrecen arreglos florales para eventos especiales?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                ¡Absolutamente! Contáctanos para discutir tus necesidades específicas y crear un diseño floral que complemente tu evento.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cómo puedo rastrear mi pedido?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Proporcionamos información de seguimiento por correo electrónico una vez que tu pedido esté en camino. También puedes contactarnos para obtener actualizaciones.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Pueden incluir una tarjeta con un mensaje personalizado en mi pedido?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                ¡Claro! Durante el proceso de compra, tendrás la opción de agregar un mensaje personalizado que incluiremos con tu pedido.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Ofrecen descuentos para pedidos grandes o eventos corporativos?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Sí, contáctanos para discutir opciones y posibles descuentos para pedidos a gran escala o eventos corporativos.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Puedo realizar un pedido por teléfono?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Sí, aceptamos pedidos telefónicos. Comunícate con nosotros durante nuestro horario comercial y estaremos encantados de ayudarte a crear la elección perfecta de flores.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cuánto tiempo duran las flores frescas?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                La duración puede variar, pero proporcionamos cuidados y consejos en nuestro sitio para asegurar que disfrutes de la frescura de tus flores el mayor tiempo posible.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Puedo realizar cambios en mi pedido después de confirmarlo?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Dependiendo del estado del pedido, es posible realizar ajustes. Comunícate con nosotros lo antes posible y haremos nuestro mejor esfuerzo para ayudarte.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cuál es su área de entrega y cobertura?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Actualmente, entregamos en Manizales y alrededores. Verifica la disponibilidad durante el proceso de compra o contacta con nosotros para consultas específicas.
              </div>
            </div>
          </div>
          <p>
        
          </p>

          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cómo garantizan la calidad de las flores?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Nos asociamos con proveedores confiables para obtener flores frescas y de alta calidad. Nuestro equipo de floristas expertos realiza rigurosas inspecciones para garantizar la frescura y belleza de cada flor.
              </div>
            </div>
          </div>
          <p>
        
          </p>


      </div>
      <p>
        
      </p>
      <h5>
      <p>Más inquietudes, dudas, o adicionales, por favor ponte en contacto con nosotros mediante los demás canales indicados en el apartado 'Contacto'.</p>
    </h5>
  
    <!-- Agrega más preguntas y respuestas aquí -->
  
  





<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<div>
    <label class="form-label">

    </label>
</div>

